 <div class="base">
 <div id="logo">
     <img src="../../assets/googlelogo.png" class="image" width="118" height="38"> <br><br>
 </div>
     One account. All of Google.
 
 <div id="info2">
     Sign in to continue to Gmail
 </div>
    <div id="form1">
       <div id="form-img">
          <img src="../../assets/profileimg.png" width="99" height="99">
       </div> 
 <div id="mailbox">
     <input placeholder="Enter your name" type="mail" name="name" style="width: 270px; height:42px; border:solid 1px #c2c4c6; font: size 16px; padding-left:8px;">
 </div> 
 <div>
     <input type="submit" id="button2" value="signin">
 </div>
 <div id="info3">
     <a href="#">forget password?</a>
 </div>
    </div>
 <div id="info4">
     <a href="#">Create account</a>
 </div>
 <div id="info5">
     One Google Account for everything Google
 </div>
 <div>
     
     <a><img src="../../assets/crome.jpeg" alt="" width="30px"></a>
     <a><img src="../../assets/gmail.png" alt="" width="30px"></a>
     <a><img src="../../assets/gmap.png" alt="" width="30px"></a>
     <a><img src="../../assets/google.png" alt=""width="30px"></a>
     <a><img src="../../assets/photos.png" alt="" width="30px"></a>
     <a><img src="../../assets/playstore.jpeg" alt="" width="30px"></a>
     <a><img src="../../assets/youtube.jpeg" alt="" width="30px"></a>
 </div>
 <div id="bottom">
     <ul>
         <li>Designed by Augustine xennia</li>
     </ul>
 </div>
</div>